.button-primary {
    background-color: var(--primary);
    color: var(--secondary-dark);
    border: 1px solid transparent;
    outline: none;
    padding: 15px 30px;
    width: 200px;
    border-radius: 100px;
    border-top-left-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    transition: all .2s;
}

.button-primary:hover {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
}