.navbar {
    position: fixed !important;
    width: 100%;
    top: 0;
    z-index: 100;
}

.navbar-container {
    position: relative;
    background-color: transparent;
    padding: 15px 40px;
    width: 100%;
}

.navbar-brand {
    padding: 20px 0;
}

.navbar-brand-text {
    display: inline;
    text-decoration: none;
    color: white;
}
.navbar-brand-text:hover {
    color: white;
}

.navbar-brand-text span {
    color: var(--primary);
}

.navbar-links {
    list-style: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 150px;
    font-size: 70px;
    text-transform: uppercase;
    margin-top: 0;
    padding: 0;
}

.nav-link {
    margin: 10px 0;
}

.nav-link a {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

.nav-link a:hover {
    color: var(--primary);
}

.navbar-toggler {
    position: absolute;
    top: 0;
    right: 40px;
    z-index: 101;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

.bar {
    display: block;
    width: 35px;
    height: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.bar:first-child {
    margin-bottom: 14px;
}

.navbar-toggler:hover .bar {
    background-color: var(--primary);
}

.navbar-slide {
    position: fixed;
    top: 0;
    left: 100%;
    height: 100vh;
    width: 100%;
    z-index: 100;
    transition: all 0.3s;
}

#navbar-links-container {
    transition: all 0.8s !important;
    background-color: var(--secondary-light);
}

#navbar-slide-1 {
    transition: all 0.6s;
    background-color: var(--tertiary-dark);
}

#navbar-slide-2 {
    background-color: var(--tertiary-light);
}

.bar-rotate-primary {
    margin-bottom: -2px !important;
    transform: rotate(45deg);
}

.bar-rotate-secondary {
    transform: rotate(135deg);
}

@media (max-width: 575px) {
    .navbar-links {
        margin-left: 40px;
        font-size: 40px;
    }
    .navbar-toggler {
        right: 30px;
    }
    .navbar-container {
        padding: 0 25px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .navbar-links {
        margin-left: 50px;
        font-size: 60px;
    }
    .navbar-toggler {
        right: 30px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .navbar-links {
        margin-left: 60px;
        font-size: 65px;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .navbar-links {
        margin-left: 80px;
        font-size: 70px;
    }
}
